.title-box-row{
	height: 100px;
}
.search-box-row{
	height: 60px;
}
.search-box{
	padding: 25px 0 25px 0;
}

.search-button-home{
	width: 200px;
}

.photo-box{
	height:150px;
	width: 150px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 3px 3px 0 0;
	border-color: rgba(0,0,0,.2);
	box-shadow: 0 0 15px rgba(0,0,0,.08);
}
.title-box{
	width: 150px;
	/*height: 40px;*/
	height: 80px;
	word-wrap: break-word;
	padding: 4px 4px 3px 3px;
	/*border: 1px solid #e6e6e6*/
}

.combo-box{
	font-size: 1.4rem;
	color: #222;
	font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
	width: 160px;
	height: 250px;
}

a.active{
	
}